<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.media.haiou.mapper.MediaTagMapper">

    <resultMap id="BaseResultMap" type="com.media.haiou.domain.MediaTag">
            <id property="id" column="id" />
            <result property="mediaId" column="media_id" />
            <result property="tagId" column="tag_id" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,media_id,tag_id,create_time
    </sql>
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO media_tag (media_id, tag_id, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.mediaId}, #{item.tagId}, #{item.createTime})
        </foreach>
    </insert>
</mapper>
